Package: com.williammuff.easydictationxi
Name: EasyDictationXI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Single tap for dictation in void below keyboard
Maintainer: William Muff
Author: William Muff
Section: Tweaks
Version: 1.0.0
Installed-Size: 88
